body {
    margin: 0;
    padding: 0;
    font-family: verdana, arial, sans-serif;
    color: #555555;
    font-size: 0.9em;
}


.topDados {
    display: flex;
    justify-content: center;
    height: 100%;
    border-bottom: 1px solid #e7e7e7;
}


.topDados-content {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1140px;
    padding: 10px;
}

.divisao {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 70%;
    margin: auto;
}


.topDados-content2{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

}


.topDados-esq {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    height: 40px;
}


.topDados-dir {
    display: flex;
    align-items: center;
    height: 40px;
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    border: 1px solid #e7e7e7;
}


.icone {
    width: 16px;
    height: 16px;
}


@media (max-width: 1260px) {
    .topDados-content {
        max-width: 940px;
    }


    .section1 .title h1{
        font-size: 1.8em;
    }
}


@media (max-width: 980px) {
    .topDados-content {
        flex-direction: column;
    }


    .section1 .title h1{
        font-size: 1.3em;
    }


.alinhar-top {
        align-items: center;
    }
}


.navBar {
    display: flex;
    justify-content: center;
    height: 100%;
    border-bottom: 1px solid #e7e7e7;
    position: sticky;
    top: 0px;
    background-color: #fff;
}


.img_logo {
    max-height: 60px;
}


.navBar-dir {
    display: flex;
    align-items: center;
    height: 40px;
}




.menu {
    padding: 0 18px;
    font-weight: 600;
    font-size: 0.8em;
    color: #888888;
    cursor: pointer;
}


.menuButton {
    display: none;
    padding: 0 18px;
    cursor: pointer;
}


.section2 {
    width: 100%;
    padding: 4em 0;
    background-color: #ffffff;

}


.itens {
    
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: 0 40px;
    position: relative;
    
}

.itemFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
}


.DivItemImage {
    
    border: 2px solid #aaaaaa;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}


.itemImage {
    width: 50px;
}


.itens .title {
    font-size: 1.5em;
    margin: 0.8em 0;
    color: #333333;
}


.itens .content {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #333333;
    height: 110px;
    font-size: 16px;
    color: #333333;
}

.quadrado {
    margin-top: 20px;
    display: flex;
    justify-content: right;
    border-top: 1px solid #333333;
    
}

.ImgCompartilhar {
    width: 30px;
    border-left: 1px solid #333333;
}

.cursosImg {
   max-width: 100%;


}

.separacao {
    margin-bottom: 30px;
    border: 1px solid #333333;
    border-radius: 7px;
    
}

.borda {
    border-top: 1px solid #333333;
    margin: 0px;
    min-height: 50px;
    
}

.sep-titulo {
    min-height: 30px;
    padding: 10px;
}


.CEDUP {
    display: grid;
    justify-content: center;
    background-color: #333333;
    color: #e7e7e7;
    padding: 20px;
}


.div3 {
    width: 30%;
}


.CEDUP-content {
    display: flex;
  
    max-width: 100%;
}


.links {
    width: 350px;


}


.links ul li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #aaaaaa;
}
.sobre-cedup {
    width: 100%;
    margin-left: 30px;
}


.sobre-nos {
    margin-left: 30px;
}
.sobre-nos a {
    text-decoration: none;
    color: #fff;
}


.Cedup-titulo p {
    text-align: center;
    font-size: 30px;
    color: #333333; 
  }

  .Cedup-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }

  .botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 0px;
    background-color: white;
  }

  .Pesq {
    border: 1px solid #333333;
    border-radius: 7px;
    margin: 30px;
  }

  .pesquisar {
    padding: 30px;
  }